{% extends 'base.html' %}

{% block content %}
    <br/>
    {% if api_empty %}
        There was an error, please try again...
    {% else %}
        <div class="jumbotron {{ category_color }}">
            <h1 class="display-4">{{ category_name }}</h1>
            <p class="lead">Current {{ area }} Air Quality: {{ aqi }}</p>
            <p>{{ category_description }}</p>
            <p>{{out}}</p>
        </div>
    {% endif %}
{% endblock %}
