{% extends 'base.html' %}

{% block content %}
    <h1>Weer NL</h1>

   <form action="{% url 'nederland' %}" class="form-inline my-2 my-lg-0" method="POST">
            {% csrf_token %}
          <input class="form-control mr-sm-2" type="search" placeholder="Enter City" aria-label="Search nL" name="city">
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Lookup</button>

    </form>
 <br/>
    {% if api_empty %}
        There was an error, please try again...
    {% else %}
        <div class="jumbotron">
            <h1 class="display-4"><img width="150" src="{{ afbeelding }}">   {{ city }}  <img width="150" src="   {{ afbeelding }}"></h1>
            <p class="lead">Temperatuur: {{ temp }} </p>
            <p class="lead">Verwachting: {{ samenv }} </p>
            <p class="lead">Windrichting: {{ windr }} </p>
            <p class="lead">Zicht: {{ zicht }} </p>
            <p class="lead">Dag zonnetje om: {{ sunder }} </p>

        </div>



    {% endif %}
{% endblock %}
